<div class="centered-content">
    <div class="modal-box">
        <h1 class="title has-text-primary">User Registration</h1>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input has-background-light is-small" type="text" placeholder="Name" autocomplete="new-name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input has-background-light is-small" type="text" placeholder="Contact" autocomplete="new-phone">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input has-background-light is-small" type="email" placeholder="Email" autocomplete="new-email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input has-background-light is-small" type="password" placeholder="Password" autocomplete="new-password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field is-pulled-right">
            <p class="control">
                <button class="button is-primary is-small">Sign up</button>
            </p>
        </div>
    </div>
</div>
