@import '../../../main-styles.scss';

.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 720px;
    max-height: 480px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    // padding: 30px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .list-menu {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 25px;
        flex-grow: 1;
        border-bottom: 1px solid #f7f7f7c2;
        max-height: 327px;
        overflow: auto;
        .list-menu-item {
            display: flex;
            align-items: center;
            padding: 8px 10px;
            width: 100%;
            color: $dark-color;
            font-size: 12px;
            border-radius: 5px;
            margin-bottom: 5px;
            &:hover {
                background: $extra-light-color;
            }
            &.is-active {
                background-color: $light-color;
                color: #fff;
            }
        }
    }
    .button {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0px 20px;
    }
}
.task-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    .title {
        margin-bottom: 28px;
    }
    .task-body {
        max-height: 332px;
        overflow: auto;
    }
    .task {
        background: #fff;
        padding: 8px 10px;
        border-radius: 8px;
        // margin-top: 10px;
        margin: 5px 25px;
        &:not(.complete) {
            transition: box-shadow 0.2s ease, transform 0.2s ease;
            cursor: pointer;
            
            &:hover {
                box-shadow: 0 0 0 3px rgba(238, 238, 238, 0.741);
            }
            &:active {
                transform: scale(0.95);
            }
        }
        &.complete {
            text-decoration: line-through;
            background: #fafafa;
            cursor: pointer;
        }
        p{
            font-size: 12px;
            color: $dark-color;
        }
    }
    .circle-add-button {
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $primary;
        bottom: 25px;
        right: 25px;
        border: none;
        outline: none;
        transition: all 0.5s ease;
        p {
            color: #fff;
            font-size: 30px;
            text-align: center;
        }
        &:hover {
            background-color: $dark-color;
            box-shadow: 0 0 0 3px rgba(238, 238, 238, 0.741);
        }
    }
}
